<!DOCTYPE html>
<html>
<head>
	<% include ../Partials/head %>
</head>
<body>
	<header>
		<% include ../Partials/header %>
	</header>
	<main>
		<p> Hello world</p>
		<form action="/add" method="Singin">
		<input type="text" email="Email">
		<input type="text" pass ="Pass" >
		<input type="submit">
	</form>
	</main>
	<footer>
		<% include ../Partials/footer %>
	</footer>
</body>
</html>
