<!DOCTYPE html>
<html>
<head>
	<% include ../Partials/head %>
</head>
<body>
	<header>
		<% include ../Partials/header %>
	</header>
	<div class="container">
		<div class="jumbtron text-center">
			<h1>
				<span class="fa fa-clock"></span> Node Authentication
			</h1>
			<p> Login or register with:</p>
			<a href="Partials/login.ejs" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
			<a href="Partials/signup.ejs" class="btn btn-default"><span class="fa fa-user"></span> Local Sign</a>
		</div>
	</div>
	<footer>
		<% include ../Partials/footer %>
	</footer>
</body>
</html>
