<meta charset="UTF-8">
<title> App SMS</title>
<link rel="stylesheet" href="bootstrap/dist/css/bootstrap>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> 
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

<script src="jquery/dist/jquery.js"></script>
<script src="bootstrap/dist/js/bootstrap.js"></script>
<style>
	body {padding-top: 50px;}
</style>
