<meta charset="UTF-8">
<title> App SMS</title>
<link rel="stylesheet" href="bootstrap/dist/css/bootstrap
<script src="jquery/dist/jquery.js"></script>
<script src="bootstrap/dist/js/bootstrap.js"></script>
<style>
	body {padding-top: 50px;}
</style>
